{% extends "layout.html" %}

{% block title %}
    Analysis Info
{% endblock %}

{% block main %}

<h3>Information on Gameplan Analysis</h3>
<h5>This is some information to help you better udnerstand the analysis</h5>
<div class="container-b" style="width:700px;margin:0 auto">
<div class="container-c" style="width:600px;margin:0 auto">
    <p>The fundamentals of the gameplan is to take into account your fixed costs for the business (occupancy and general) as well as to consider your goal profit. From there we use standard percentages from the industry of your choice to
    build in what your gross margin and variable costs should look like. Once you know you can spend for example a 15% increase in payroll expenses on the goal gameplan can be used to build employee incentives or hiring new workers which will be needed to increase your revenues.</p>
    <br>
    <p>Another crucial thing to understand is that outside of the cost of sales. Other expenses percentages are taken as a percentage of the gross margin. Your calculations could take these as a percentage of revenues. However we prefer the method of using gross margin</p>
    <br>
    <p>Another thing you may wonder is why you had to input some information that seemingly didn't take effect in the gameplan calculations. If you checked the box for a private and more detailed gameplan to be sent to you, then all of these inputs would be used in order to allow for your personalized gameplan</p>
    <br>
    <br>
</div>
</div>
<br>
<br>
<a href="/analysis"><span class="btn btn-primary btn-lg">Take Me To Analysis</span></a>
{% endblock %}
