{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="about">
        <h3 id="centre"><u>ABOUT US</u></h3>
        <h5>Profit Coach will help you take your business to success</h5>
        <p>Profit Coach was founded to coach your business to the championship level.  We combine the expertise gained from over 20 years of successful financial management with a service and sales philosophy of enthusiasm and engagement.  With a <u>Pyramid of Profit Success<sup>SM</sup></u> process that involves establishing and tracking key metrics, ongoing management coaching and “game time” results reporting, we coach our clients to reach a higher level of profitable performance.  And we always have fun while playing the game.</p>
        <br>
        <p>Profit Coach now has a software analysis tool that takes uses the fundamental coaching ideas and pyramaid in order to help the business become more efficient. This tool allows you to input attributes about your company and inputs of goals and financial metrics and then put out analysis and gameplan ideas to help you run your business better as you move forward.</p>
    </div>
    <div class="container">
        <img src="static/logo-balance-colored.jpg" class="imageFloatRight" width="500" height="450">
    </div>
    <div>

    <h3>What will the gameplan do?</h3>
    <div class="container-c" style="width:800px;margin:0 auto">
        <p>Once registered you will go through a form to submit your information. You will go through and submit all the relevant information for your company and how you want to create a plan. Based on the information that you submit you will
        recieve a gameplan output. You will learn more about the gameplan and what goes into it once you haave registered and filled out your company profile. There is also an option to agree to let us view your input data and then we will take into account even more detail and email
        you a customized gameplan. This gameplan will also help you better understand the base gameplan and let you more fully take advantage or the thinking behind the gameplan</p>
    </div>
    </div>
{% endblock %}
